@media (max-width: 1080px) {
    .Header {
        padding-top: 20px;
        background-color: #fff;
        z-index: 10;
    }
    .Header-common {
        position: fixed;
        margin-top: -40px;
    }
    .header-right {
        overflow-y: scroll;
        position: fixed;
        top: 60px;
        left: 100%;
        width: 100%;
        display: block;
        padding-top: 20px;
        padding-bottom: 75px;
        transition: transform .5s;
        z-index: 99;
        background-color: rgba(0,0,0,.8);
        -webkit-overflow-scrolling: touch;
        height: 100%;
    }
    ul {
        display: none;
    }
    .menu-icon {
        font-size: 40px;
        cursor: pointer;
        float: left;
        display: flex;
        width: 30px;
        line-height: 21px;
        z-index: 100;
    }
    .logo-image {
        margin-top: 20px;
    }
    .First-View {
        width: 100%;
    }
    .About {
        flex-direction: column;
    }
    .About-video {
        width: 75%;
        margin-bottom: 15px;
    }
    .About-title {
        width: 75%;
    }
}


@media (max-width: 767px){
    .First-View {
        background-image: none;
        padding-top: 0;
        padding-bottom: 35px;
    }
    .View-img {
        display: block;
        width: 100%;
    }
    .FirstView-container {
        margin-top: -45vw;
        margin-left: auto;
        margin-right: auto;
    }
    .main-contents {
        width: 100%;
    }
    .main-img {
        display: flex;
        justify-content: space-between;
        margin-bottom: 30px;
        width: 100%;
    }
    .contents-buttons a:first-child {
        width: 100%;
    }
    .contents-buttons a:last-child {
        display: none;
    }
    .About-wrapper {
        padding: 30px 0;
    }
    .About-video {
        width: 100%;
    }
    .About-title {
        width: 100%;
    }
}